.cardName {
  background-color: #15AABF;
}

.styled-span {
  color: black;
}
.accepted {
  color: green;
}
.rejected {
  color: red;
}
.businessInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.info {
  display: flex;
  justify-content: start;
}
